{% extends 'base.html' %}
<!DOCTYPE html>
<html>
{% load  staticfiles %}
{% load socialaccount %}
<head>
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
    <!-- <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/journal/bootstrap.min.css" rel="stylesheet">
    {%block titleblock %}<title>首頁</title>{% endblock %}
    {% block cssblock %}  
    <style>
        html {
            height: 100%;
        }

        body {
            background-image: url("{% static 'img/photo3.jpeg' %}");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            background-size: cover;
        }
    </style>

    {% endblock %}
</head>
{% block body %}
    <!-- <body background="{% static 'img/images.jpeg'%}"> -->
    <h2>Main Page</h2>
    {% if request.user.is_authenticated %}  <!-- 檢查使用者是否通過驗證 -->
        歡迎光臨：{{name}}
        <br><button type="button" class="btn btn-secondary" onclick="location.href='/loginapp/logout'">Logout</button>
    {% else %}
        <p>You are not login yet!</p>
        <button type="button" class="btn btn-secondary" onclick="location.href='/loginapp/login'">Login</button>
        <button type="submit" class="btn btn-secondary" onclick="location.href='{% provider_login_url 'google' %}'">Google Login</button>
    {% endif %}
<!--         <p><a href="/admin">管理員請點這！</a></p>
        <p><a href="/customdictpage">自訂辭典按這！</a><p>
        <p><a href="/textmine">文字探勘按這！</a></p>   -->
    <!-- <span style="color: red">{{message}}</span> -->
    </body>
{% endblock %}
</html>