{% extends "base.html"%}
{% block titleblock %}<title>這是新聞搜尋的頁面</title>{% endblock %}
{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="/NewsMainpage/PTT">PTT</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/NewsMainpage/UDN">聯合新聞</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/NewsMainpage/SETN">三立</a>
</li>
{% endblock %}
{% block body%}
<body>
<div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead">這邊可以看到該網站當天的新聞，由爬蟲爬下資料，可供大家先由標題過濾資料</p>
        <p class="lead">目前提供的新聞有(可點擊進去看當天新聞)
        <ul class="list-unstyled">
          <li>PTT</li>
          <li>聯合新聞</li>
          <li>三立</li>
          <li>待增加</li>
        </ul>
      </p>
      </div>
    </div>
  </div>
  <form action="/NewsMainpage/filter" method="POST" >
    {% csrf_token %}
    <h3>選擇新聞開始與結束日期</h3>
    <div>
    <label for="bday">關鍵字</label>
    <input id="datest" type="text" name="keyword" value="韓"><br>
    <label for="bday">開始日期</label>
    <input id="datest" type="date" name="startdate"><br>
    <label for="bday">結束日期</label>
    <input id="dateend" type="date" name="enddate">
    <input type="submit" name="button" id="button" value="送出" class="btn btn-secondary"/>
    <span style="color:red;">{{msg}}</span>
  </div>
  </form>
  <div>
    {% if choose == 1%}
      <h3>以下是符合你搜尋的新聞</h3>
      {% for new in choosenNews %}
        <span class="badge badge-secondary">{{new.title}}</span>
      {% endfor %}
    {% endif %}
  </div>
  <br>
  <div>
    {% if plotchart == 1%}
      <h3>趨勢圖表</h3>
      <div id="chartdiv"></div>
    {% endif %}
  </div> 
  <div>
    {% if plotchart == 1%}
      <div class="container ">
        <div>正向文章前三名</div>
        {% for pos in PosTop3 %}
        <h5>- {{pos.title}}</h5>
        {% endfor %}
        <div>負向文章前三名</div>
        {% for neg in NegTop3 %}
        <h5>- {{neg.title}}</h5>
        {% endfor %}
      </div>
      <h3>情感分析圖</h3>
      <div id="chartdiv2"></div>
    {% endif %}
  </div>

<!-- Styles -->
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}
#chardiv2 {
  width: 100%;
  height: 500px;
}

</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>

<!-- Chart code -->
<script>
var data1 = []
var dict = {{d|safe}};
console.log(dict)
for (key in dict){
  console.log(key+dict[key])
  data1.push({"date":key, "value":dict[key]});
}
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv", am4charts.XYChart);

// Add data
chart.data = data1;

// Set input format for the dates
chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

// Create axes
var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

// Create series
var series = chart.series.push(new am4charts.LineSeries());
series.dataFields.valueY = "value";
series.dataFields.dateX = "date";
series.tooltipText = "{value}"
series.strokeWidth = 2;
series.minBulletDistance = 15;

// Drop-shaped tooltips
series.tooltip.background.cornerRadius = 20;
series.tooltip.background.strokeOpacity = 0;
series.tooltip.pointerOrientation = "vertical";
series.tooltip.label.minWidth = 40;
series.tooltip.label.minHeight = 40;
series.tooltip.label.textAlign = "middle";
series.tooltip.label.textValign = "middle";

// Make bullets grow on hover
var bullet = series.bullets.push(new am4charts.CircleBullet());
bullet.circle.strokeWidth = 2;
bullet.circle.radius = 4;
bullet.circle.fill = am4core.color("#fff");

var bullethover = bullet.states.create("hover");
bullethover.properties.scale = 1.3;

// Make a panning cursor
chart.cursor = new am4charts.XYCursor();
chart.cursor.behavior = "panXY";
chart.cursor.xAxis = dateAxis;
chart.cursor.snapToSeries = series;

// Create vertical scrollbar and place it before the value axis
chart.scrollbarY = new am4core.Scrollbar();
chart.scrollbarY.parent = chart.leftAxesContainer;
chart.scrollbarY.toBack();

// Create a horizontal scrollbar with previe and place it underneath the date axis
chart.scrollbarX = new am4charts.XYChartScrollbar();
chart.scrollbarX.series.push(series);
chart.scrollbarX.parent = chart.bottomAxesContainer;

chart.events.on("ready", function () {
  dateAxis.zoom({start:0.79, end:1});
});

}); // end am4core.ready()
</script>
<script>

am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

// Create chart instance
var chart = am4core.create("chartdiv2", am4charts.PieChart);

var data = [];
var List = {{sentiment|safe}};
data.push({"country":"正向", "litres":List[0]});
data.push({"country":"負向", "litres":List[1]});


// Add and configure Series
var pieSeries = chart.series.push(new am4charts.PieSeries());
pieSeries.dataFields.value = "litres";
pieSeries.dataFields.category = "country";

// Let's cut a hole in our Pie chart the size of 30% the radius
chart.innerRadius = am4core.percent(30);

// Put a thick white border around each Slice
pieSeries.slices.template.stroke = am4core.color("#fff");
pieSeries.slices.template.strokeWidth = 2;
pieSeries.slices.template.strokeOpacity = 1;
pieSeries.slices.template
  // change the cursor on hover to make it apparent the object can be interacted with
  .cursorOverStyle = [
    {
      "property": "cursor",
      "value": "pointer"
    }
  ];

pieSeries.alignLabels = false;
pieSeries.labels.template.bent = true;
pieSeries.labels.template.radius = 3;
pieSeries.labels.template.padding(0,0,0,0);

pieSeries.ticks.template.disabled = true;

// Create a base filter effect (as if it's not there) for the hover to return to
var shadow = pieSeries.slices.template.filters.push(new am4core.DropShadowFilter);
shadow.opacity = 0;

// Create hover state
var hoverState = pieSeries.slices.template.states.getKey("hover"); // normally we have to create the hover state, in this case it already exists

// Slightly shift the shadow and make it more prominent on hover
var hoverShadow = hoverState.filters.push(new am4core.DropShadowFilter);
hoverShadow.opacity = 0.7;
hoverShadow.blur = 5;

// Add a legend
chart.legend = new am4charts.Legend();

chart.data = data;

}); // end am4core.ready()
</script>

<style type="text/css">
#postag{
width:200px;　//DIV區塊寬度
line-height:50px;　//DIV區塊高度
padding:20px;　//DIV區塊內距，參閱：CSS padding 內距。
border:2px blue solid;　//DIV區塊邊框，參閱：CSS border 邊框設計。
margin-right:10px;　//靠右外距，參閱：CSS margin 邊界使用介紹範例教學。
float:left;
}
#negtag{
width:200px;
line-height:50px;
padding:20px;
border:2px green solid;
float:left;
}
</style>



<div>
  <h5>正向文章文字雲</h5>
  <div id="postag" style="border: 1px solid #eee; height: 320px; width:525px;"></div></div>

<div>
  <h5>負向文章文字雲</h5>
  <div id="negtag" style="border: 1px solid #eee; height: 320px; width:525px;"></div>
</div>

<script>
    //取得d3顏色
    
    var fill = d3.scaleOrdinal(d3.schemeCategory10);
    //文字雲/關鍵字，及字型大小（這邊只放三個）
    var posdata = [];
    var posdict = {{PosTermDict | safe}};
    for (key in posdict){
      console.log(key+posdict[key])
      posdata.push({text:key, size:posdict[key]});
    };
    //取得呈現處的寬、高
    var w = parseInt(d3.select("#postag").style("width"), 10);
    var h = parseInt(d3.select("#postag").style("height"), 10);

    d3.layout.cloud().size([w, h])
            .words(posdata)
            .padding(2)
            .rotate(function () {
                return ~~(Math.random() * 2) * 90;
            })
            .rotate(function () {
                return 0;
            })
            .fontSize(function (d) {
                return d.size;
            })
            .on("end", draw)
            .start();

    function draw(words) {
        d3.select("#postag").append("svg")
                .attr("width", w)
                .attr("height", h)
                .append("g")
                .attr("transform", "translate(" + w / 2 + "," + h / 2 + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) {
                    return d.size + "px";
                })
                .style("font-family", "Microsoft JhengHei")
                .style("cursor", 'pointer')
                .style("fill", function (d, i) {
                    return fill(i);
                })
                .attr("text-anchor", "middle")
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) {
                    return d.text;
                })
                .on("click", function (d) {
                    window.open("https://www.google.com/search?q=" + d.text, '_blank');
                });
    }
</script>

<script>
    //取得d3顏色
    
    var fill = d3.scaleOrdinal(d3.schemeCategory10);
    //文字雲/關鍵字，及字型大小（這邊只放三個）
    var negdata = [];
    var negdict = {{NegTermDict | safe}};
    for (key in negdict){
      console.log(key+negdict[key])
      negdata.push({text:key, size:negdict[key]});
    };
    //取得呈現處的寬、高
    var w = parseInt(d3.select("#negtag").style("width"), 10);
    var h = parseInt(d3.select("#postag").style("height"), 10);

    d3.layout.cloud().size([w, h])
            .words(negdata)
            .padding(2)
            .rotate(function () {
                return ~~(Math.random() * 2) * 90;
            })
            .rotate(function () {
                return 0;
            })
            .fontSize(function (d) {
                return d.size;
            })
            .on("end", draw)
            .start();

    function draw(words) {
        d3.select("#negtag").append("svg")
                .attr("width", w)
                .attr("height", h)
                .append("g")
                .attr("transform", "translate(" + w / 2 + "," + h / 2 + ")")
                .selectAll("text")
                .data(words)
                .enter().append("text")
                .style("font-size", function (d) {
                    return d.size + "px";
                })
                .style("font-family", "Microsoft JhengHei")
                .style("cursor", 'pointer')
                .style("fill", function (d, i) {
                    return fill(i);
                })
                .attr("text-anchor", "middle")
                .attr("transform", function (d) {
                    return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
                })
                .text(function (d) {
                    return d.text;
                })
                .on("click", function (d) {
                    window.open("https://www.google.com/search?q=" + d.text, '_blank');
                });
    }
</script>

 </body>
{% endblock %}
